<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>2796489029-327pqib6fe71hd0qhk7r1scsdni0j6vp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNuTUH1HFv5pXD9FiviYdNdO4NWDRN9uI</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>vicara</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.2796489029-879is0ja2s0scn64tfemv9sv45cq1l2c</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>CLIENT_ID</key>
	<string>2796489029-879is0ja2s0scn64tfemv9sv45cq1l2c.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>2796489029</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:2796489029:ios:c76d612611b7a7a371562c</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>This app requires contacts access to function properly.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs access to location when open to get users location</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>vicara-fall-detection</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2796489029-879is0ja2s0scn64tfemv9sv45cq1l2c</string>
	<key>STORAGE_BUCKET</key>
	<string>vicara-fall-detection.appspot.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open to get users location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open to get users location</string>
	<key>NSMotionUsageDescription</key>
	<string>A reason to get the permission</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.2796489029-9j6p7m14cicclefet1o5f4nbu3hukafe</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
