<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2796489029-879is0ja2s0scn64tfemv9sv45cq1l2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2796489029-879is0ja2s0scn64tfemv9sv45cq1l2c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>2796489029-327pqib6fe71hd0qhk7r1scsdni0j6vp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNuTUH1HFv5pXD9FiviYdNdO4NWDRN9uI</string>
	<key>GCM_SENDER_ID</key>
	<string>2796489029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hts.vicaratesting</string>
	<key>PROJECT_ID</key>
	<string>vicara-fall-detection</string>
	<key>STORAGE_BUCKET</key>
	<string>vicara-fall-detection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2796489029:ios:c76d612611b7a7a371562c</string>
</dict>
</plist>